.venv/
src/__pycache__
server/server
*.db
.DS_Store
config/*.env

# web ignore
client/.yarn/*
!client/.yarn/cache
!client/.yarn/patches
!client/.yarn/plugins
!client/.yarn/releases
!client/.yarn/sdks
!client/.yarn/versions
client/dist
