<!DOCTYPE html>
<html lang="en">
<head>
    <title>Homers and Doubles</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body>
    {% block content %}
            <div class="container">
                <div style="margin-top: 36px">
                    {% block app_content %}{% endblock %}
                </div>
            </div>
    {% endblock %}
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.js"></script>
    {% block scripts %}{% endblock %}
    </body>
</html>